<h1 id="home">Band Tracker</h1>

<a href="/bands" class="btn btn-info">Bands</a>
<a href="/venues" class="btn btn-info">Venues</a>
<input type="button" onclick="alert('Ok! There is no free ticket here.')" value="Don't Click Me!" class="btn btn-info">
